[Unit]
Description=Icecast-KH daemon
Documentation=https://github.com/karlheyes/icecast-kh

[Service]
Type=simple
Restart=always
User=icecast
ExecStart=/usr/bin/icecast -b -c /etc/icecast/icecast-kh.xml
PIDFile=/var/run/icecast.pid
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target