[Unit]
Description=Icecast2 daemon
Documentation=https://gitlab.xiph.org/xiph/icecast-server

[Service]
Type=simple
Restart=always
User=icecast
ExecStart=/usr/bin/icecast -b -c /etc/icecast2/icecast.xml
PIDFile=/run/icecast2.pid
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target