[Unit]
Description=Liquidsoap daemon
After=network.target icecast.service
Documentation=http://liquidsoap.fm

[Service]
Type=forking
#Type=simple
#Type=oneshot
User=liquidsoap
PIDFile=/run/liquidsoap.pid
ExecStart=/usr/bin/liquidsoap /etc/liquidsoap/youtube.liq
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target